[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pandas = "*"
python-dotenv = "*"
pymysql = "*"
boto3 = "*"

[dev-packages]
black = "*"
flake8 = "*"
bandit = "*"

[requires]
python_version = "3.9"
